@import "../../../styles/variables.scss";

.navbar__container {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0 1rem;

    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;

        span {
            cursor: pointer;
            font-weight: bold;
            font-size: x-large;
            padding: 1rem;
        }

    }

    &__content-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-container__item {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &-selector {
                position: absolute;
                bottom: 0;
                height: 4px;
                width: 90%;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
            }

        }

        &-container__item[data-active] &-container__item-selector {
            position: absolute;
            bottom: 0;
            height: 4px;
            width: 90%;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            background-color: $color-primary-90;
        }

    }

    &__menu {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &-search {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
        }

        &-container {
            height: 100%;
            margin: auto 0;
            display: flex;
            align-items: center;

            &__image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0.5rem;
                border-radius: 100%;
                cursor: pointer;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                img {
                    height: calc(100% - 0.75rem);
                    width: calc(100% - 0.75rem);
                    border-radius: inherit;
                }

                svg {
                    font-size: x-large;
                }

                &:hover {
                    background-color: $color-secondary-10;
                }

                &:active {
                    background-color:  $color-secondary-20;
                }

                &[data-icon] {
                    height: 40px;
                    width: 40px;
                }

                &[data-image] {
                    height: 45px;
                    width: 45px;
                }
            }

        }

    }

}