@import "./variables.scss";

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.link {
  color: $color-primary-30;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.15s ease;
}

hr {
  border: 0;
  height: 2px;
  background-color: $color-secondary-30;
  margin: 1rem 0;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: $button-border-radius;
  transition: ease-in 0.1s;
  cursor: pointer;
}

.primary {

  &.plain {
    background-color: transparent;
  }

  &.solid {
    background-color: $color-primary-50;
  }

}

.secondary {

  &.plain {
    font-weight: 500;
    color: $color-secondary-80;
    background-color: transparent;

    &:hover {
      background-color: $color-secondary-10;
    }

    &:active {
      background-color: $color-secondary-20;
    }

  }

}

.tertiary {

  &.plain {
    color: $color-tertiary-40;
    border: 1px solid $color-tertiary-40;
    background-color: transparent;

    &:hover {
      color: #fff;
      background-color: $color-tertiary-40;
    }

  }

  &.solid {
    border: 1px solid $color-tertiary-60;
    background-color: $color-tertiary-60;

    &:hover {
      background-color: $color-tertiary-50;
      border: 1px solid $color-tertiary-50;
    }

  }

}