/*----------COLORS----------*/

$color-primary-0: #e7f5ff;
$color-primary-10: #d0ebff;
$color-primary-20: #a5d8ff;
$color-primary-30: #74c0fc;
$color-primary-40: #4dabf7;
$color-primary-50: #339af0;
$color-primary-60: #228be6;
$color-primary-70: #1c7ed6;
$color-primary-80: #1971c2;
$color-primary-90: #1864ab;

$color-secondary-0: #f8f9fa;
$color-secondary-10: #f1f3f5;
$color-secondary-20: #e9ecef;
$color-secondary-30: #dee2e6;
$color-secondary-40: #ced4da;
$color-secondary-50: #adb5bd;
$color-secondary-60: #868e96;
$color-secondary-70: #495057;
$color-secondary-80: #343a40;
$color-secondary-90: #212529;

$color-tertiary-0: #fff9db;
$color-tertiary-10: #fff3bf;
$color-tertiary-20: #ffec99;
$color-tertiary-30: #ffe066;
$color-tertiary-40: #ffd43b;
$color-tertiary-50: #fcc419;
$color-tertiary-60: #fab005;
$color-tertiary-70: #f59f00;
$color-tertiary-80: #f08c00;
$color-tertiary-90: #e67700;

/*----------END----------*/

$background-color: #fefefe;

$navbar-height: 58px;
$sidebar-full-width: 250px;
$sidebar-collapsed-width: 40px;

$button-border-radius: 4px;