.description {
    font-size: 0.9rem;
    font-weight: 500;
    color: #626365;
    text-align: center;
    padding: 0.5rem;
}

.auth-container__popup-main__form-input__container {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .auth-container__popup-main__form-input__container--input {
        padding: 0.3rem;
        width: calc(100% / 6);
    }

}

.auth-container__popup-main__form--authenticate {
    padding-bottom: 1rem;
}

.auth-container__popup-main-user-email {
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}