@import "../../../styles/variables.scss";

.social_login__button-container {

    height: 55px;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 0;
    transition: ease-in .1s;
    cursor: pointer;

    .social_login__button {
        height: 50px;
        width: inherit;
        border-radius: $button-border-radius;
        transition: ease-in .1s;
        display: flex;
        align-items: center;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);

        .social_login__button-image_container {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            margin-left: 3px;
            border-radius: 2px;
            height: 42px;
        }

        .social_login__button-text_container {
            height: 100%;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 1rem;
                font-weight: 600;
                color: #ffffff;
            }

        }
    }

}

.social_login__button-container:hover {
    padding-top: 0;
    padding-bottom: 3px;
}

.social_login__button-container[data-provider="Google"] {

    .social_login__button {
        background-color: #4885ed;
        border: 1px solid #4885ed;

        .social_login__button-image_container__icon {
            width: 27px;
            height: 27px;
            color: #4885ed;
        }

        .social_login__button-text_container {
            span {
                color: #fff;
            }
        }

    }

}

.social_login__button-container[data-provider="Facebook"] {

    .social_login__button {
        background-color: #1877F2;

        .social_login__button-image_container {
            background-color: transparent;

            .social_login__button-image_container__icon {
                width: 35px;
                height: 35px;
                color: #ffffff;
            }
        }
    }

}

.social_login__button-container[data-provider="Github"] {

    .social_login__button {
        background-color: #24292E;

        .social_login__button-image_container__icon {
            width: 30px;
            height: 30px;
        }

    }

}