@import "../../../styles/variables.scss";

.sidebar {
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: calc($sidebar-full-width - $sidebar-collapsed-width - 0.5rem);

    &--group-item {
        padding: 0.4rem 0.4rem 0.4rem 1.5rem;
    }

    &--item {
        padding: 0.4rem 0.4rem 0.4rem 0.75rem;
    }

    &--item,
    &--group-item {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: $button-border-radius;
        cursor: pointer;

        &-icon {
            margin-right: 0.5rem;

            svg {
                font-size: 1.5rem;
            }

        }

        &-text {
            font-size: 1rem;
            font-weight: 500;
        }

        &:hover {
            background-color: $color-primary-0;
        }

        &[data-active=true] {
            background-color: $color-primary-0;

            .sidebar--item-icon {
                svg {
                    color: $color-primary-90;
                }
            }

            .sidebar--item-text {
                color: $color-primary-90;
            }

            &::before {
                content: "";
                position: absolute;
                height: 16px;
                width: 4px;
                left: 0px;
                top: 12px;
                background: $color-primary-90;
                border-radius: 0px 2px 2px 0px;
            }

        }

    }

}